{
	"htmlWhitespaceSensitivity": "ignore",
	"tabWidth": 2,
	"useTabs": true,
	"printWidth": 108,
	"endOfLine": "lf",
	"trailingComma": "none",
	"arrowParens": "always",
	"singleQuote": true,
	"bracketSameLine": true,
	"jsxSingleQuote": true,
	"semi": true
}
